{% extends "base.html" %}

{% block body_class %}body_about{% endblock %}

{% block main %}

<h2 class="section_title">About</h2>

<div id="About">

	<h3 class="cufon">Bacchus</h3>

	<p>바쿠스는 현재 컴퓨터공학부 서버 관리 및 개발 동아리입니다. 기존에 근로장학생이 하던 서버관리 부분을 1999년도부터 동아리를 통해 관리를 하면서 생겨났습니다. </p>

	<p>서버 관리의 목적을 가지고 생겨난 동아리이므로, 현재 학부에서 사용하는 여러 서버를 관리하고 있습니다. 주로 가장 중요시 되는 통합계정 서비스를 사용하기 위해 숙제 서버 및 웹 호스팅을 위한 서버, 윈도우 계정을 관리하는 서버가 있습니다. 이 외에도 백업 및 동아리 내의 문서화를 위한 서버, 수업에 쓰이는 서버들 등 여러 서버들을 관리하고, 관련 업무를 처리하고 있습니다.</p>

	<p>하지만, 바쿠스는 서버 관리 외에도 학부생의 편의를 위한 여러 서비스를 개발했습니다. 대표적인 예로는 현재 사용 중인 커뮤니티 사이트(스누씨)와 숙제 서버 및 과내의 실습 컴퓨터를 연동하는 통합계정 서비스가 있습니다. 이 외에도 DB계정 발급, nForge서비스, 라이센스 발급, 스누씨 메일 등 여러 서비스를 개발 및 지원해왔습니다. 또한 여러 서비스를 계속해서 만들어갈 예정입니다. </p>

	<p>바쿠스에서 하고 있는 위와 같은 일들은 수업에서는 많이 접해보기 힘든 부분들이 많이 있습니다. 하지만 사회생활이나 여러 분야에서는 꼭 쓰이는 부분이기도 합니다. 이러한 새로운 일들을 접해보고 서로 의견을 나눌 수 있는 동아리가 바로 바쿠스입니다. </p>

	<p>다음으로, 바쿠스의 동아리 구조에 대하여 알려드리겠습니다. 바쿠스 내에는 리눅스, 윈도우, 웹팀의 3개의 팀이 존재합니다. 신입부원은 첫 1년간 팀의 분류없이 수습회원으로 활동을 하며, 1년 뒤 자신이 희망하는 팀에 조건없이 들어가 활동을 합니다. 각 팀의 활동을 간략히 요약을 하겠습니다. </p>

	<ul>
		<li>리눅스 팀 : 과내 서버 관리 및 수업 가상 서버 관리 </li>
		<li>윈도우 팀 : 통합 계정 관리 및 개발 </li>
		<li>웹 팀 : 스누씨 관리 및 개발 / 학부 홈페이지 관리 </li>
	</ul>
	<p>많은 팀이 있고 관리를 하지만, 서로 협력하여 일을 처리를 많이하는 동아리입니다. 또한, 생소하거나 접해보지 못한 문제들이 생기기 때문에 선배나 동기들의 도움과 함께 개별적인 노력을 필요로 하는 동아리입니다. </p>

	<div class="separator_top">
		<a href="#">Top</a>
	</div>
	<h3 class="cufon">History</h3>
	<ul>
		<li>Before 1999 : 각각의 서버를 각각의 관리자(봉사 장학생)가 개별적으로 운영</li>
		<li>1999 : 대표 이대형이 관리자 그룹 창설, ACCESS로 명명</li>
		<li>2000 : 나우누리, 프리챌 커뮤니티를 SNUCSE로 이전, Bacchus로 개명</li>
		<li>2004 : 제 1회 삼성SDS IT Festival 출품</li>
		<li>2005 : 제 2회 삼성SDS IT Festival 출품</li>
		<li>2006 : 제 3회 삼성SDS IT Festival 출품</li>
		<li>2007 : 제 4회 삼성SDS IT Festival 출품</li>
		<li>2010 : 전국 창의적 종합설계 경진대회 4위</li>
		<li>2011 : 전국 창의적 종합설계 경진대회 3위</li>
		<li>2012 : 전국 창의적 종합설계 경진대회 장려상</li>
		<li>2012 : 삼성SDS SW 동아리 Championship 장려상</li>
		<li>2014 : 삼성 S/W Friendship 3기 선정</li>
		<li>2015 : 네이버랩스 D2 Campus Partner 선정</li>
	</ul>

	<div class="separator_top">
		<a href="#">Top</a>
	</div>

	<h3 class="cufon">Members</h3>
	<h4 class="cufon">Head</h4>
    <ul>
        <li><strong>14 서장호</strong> jangho at bacchus.snucse.org</li>
		<ul>
			<li>2015.01 ~		대표</li>
		</ul>
	</ul>

	<h4 class="cufon">Linux Team</h4>
    <ul>
        <li><strong>11 이선호 팀장</strong> holys0210 at bacchus.snucse.org</li>
		<ul>
            <li>2013.03 ~		리눅스팀</li>
            <li>2015.03 ~		리눅스팀장</li>
		</ul>
		<li><strong>09 김찬민</strong> kcm1700 at bacchus.snucse.org</li>
		<ul>
			<li>2011.03 ~ 2014.02	리눅스팀</li>
			<li>2011.03 ~ 2014.02	대외파견</li>
			<li>2014.03 ~		리눅스팀</li>
        </ul>
        <li><strong>12 김알찬</strong> algy at bacchus.snucse.org</li>
        <ul>
			<li>2014.09 ~ 2015.03	윈도우팀</li>
			<li>2015.03 ~		리눅스팀</li>
		</ul>
	</ul>
	<h4 class="cufon">Web Team</h4>
	<ul>
		<li><strong>11 천세린 팀장</strong> littlechun4 at bacchus.snucse.org</li>
		<ul>
			<li>2014.03 ~ 2014.08	웹팀</li>
			<li>2014.09 ~		웹팀장</li>
		</ul>
        <li><strong>14 신동진</strong> lastone817 at bacchus.snucse.org</li>
        <ul>
			<li>2015.03 ~	웹팀</li>
		</ul>
		<li><strong>13 권무근</strong> crazymi at bacchus.snucse.org</li>
        <ul>
			<li>2015.03 ~	웹팀</li>
		</ul>
	</ul>
	<h4 class="cufon">Windows Team</h4>
	<ul>
		<li><strong>12 이승준 팀장</strong> vs223 at bacchus.snucse.org</li>
		<ul>
			<li>2014.09 ~ 2015.03		윈도우팀장(공동)</li>
			<li>2015.03 ~ 		윈도우팀장</li>
        </ul>
        <li><strong>11 이현민</strong> tictictic at bacchus.snucse.org</li>
		<ul>
			<li>2014.02 ~ 	    윈도우팀</li>
			<li>2014.09 ~ 2015.03	대외파견</li>
		</ul>
		<li><strong>12 염지혜</strong> recycle at bacchus.snucse.org</li>
		<ul>
            <li>2014.03 ~ 2015.01    대표</li>
            <li>2014.09 ~           윈도우팀</li>
        </ul>
		<li><strong>12 신현일</strong> shuin3180 at bacchus.snucse.org</li>
		<ul>
			<li>2014.09 ~		윈도우팀</li>
		</ul>
		<li><strong>14 이소희</strong> sohee377 at bacchus.snucse.org</li>
		<ul>
			<li>2015.03 ~ 		윈도우팀</li>
		</ul>
	</ul>
	<h4 class="cufon">Probation</h4>
	<ul>
		
        <li><strong>13 김지현</strong> simnalamburt at bacchus.snucse.org</li>
	</ul>
	<h4 class="cufon">Dispatched</h4>
	<ul>
		<li><strong>11 김진명</strong> mistrie at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.03	윈도우팀</li>
			<li>2013.03 ~ 2014.03	대표</li>
			<li>2014.03 ~		대외파견</li>
		</ul>
		<li><strong>11 윤영교</strong> czerny92 at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.08	웹팀장</li>
			<li>2014.09 ~		대외파견</li>
		</ul>
		<li><strong>11 안용주</strong> anjy0527 at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.02	윈도우팀장</li>
			<li>2014.03 ~		대외파견</li>
		</ul>
		<li><strong>11 김도연</strong> mkim at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.02	리눅스팀</li>
			<li>2014.03 ~ 		대외파견</li>
		</ul>
		<li><strong>11 박성준</strong> stj at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.02	리눅스팀장</li>
			<li>2014.03 ~		대외파견</li>
		</ul>
		<li><strong>11 박태헌</strong> noriaki at bacchus.snucse.org</li>
		<ul>
			<li>2014.03 ~ 2014.08	리눅스팀</li>
			<li>2014.09 ~		대외파견</li>
		</ul>
		<li><strong>12 박준모</strong> junmohi1 at bacchus.snucse.org</li>
		<ul>
			<li>2014.09 ~		대외파견</li>
        </ul>
        <li><strong>11 임희창</strong> tanto at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 2014.08	리눅스팀</li>
			<li>2014.09 ~ 2015.03	리눅스팀장</li>
			<li>2015.03 ~       대외파견</li>
        </ul>
        <li><strong>12 박선비</strong> sunnyrain at bacchus.snucse.org</li>
		<ul>
			<li>2014.09 ~ 		웹팀</li>
			<li>2014.09 ~ 		대외파견</li>
		</ul>
		<li><strong>12 김건형</strong> gun at bacchus.snucse.org</li>
		<ul>
			<li>2014.09 ~ 		웹팀</li>
			<li>2015.03 ~ 	    대외파견</li>
		</ul>
        <li><strong>13 강성진</strong> todd94 at bacchus.snucse.org</li>
		<ul>
			<li>2015.03 ~	웹팀</li>
			<li>2015.04 ~	대외파견</li>
		</ul>
	</ul>
	<h4 class="cufon">OB</h4>
	<ul>
		<li><strong>97 문대경</strong> dkmoon at bacchus.snucse.org</li>
		<li><strong>99 문여송</strong> highheat at bacchus.snucse.org</li>
		<li><strong>99 민영기</strong> mykcom at bacchus.snucse.org</li>
		<li><strong>99 서성용</strong> pooh at bacchus.snucse.org</li>
		<ul>
			<li>2003.09 ~ 2004.08	대표</li>
		</ul>
		<li><strong>99 이대형</strong> chrysant at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2001		대표</li>
		</ul>
		<li><strong>00 김경현</strong> iloy at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2003		개발팀</li>
		</ul>
		<li><strong>00 노승환</strong> emdk at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2002 	NT팀</li>
			<li>2002 ~ 2003.08	대표</li>
		</ul>
		<li><strong>00 류진규</strong> yustain at bachus.snucse.org</li>
		<ul>
			<li>2000 ~ 2005.02	UNIX팀</li>
			<li>2003 ~ 2005.02	UNIX팀장</li>
		</ul>
		<li><strong>00 여인보</strong> ueueng at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2002 	NT팀</li>
			<li>2002.02		NT팀장</li>
		</ul>
		<li><strong>00 연제승</strong> linden at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2003 	UNIX팀</li>
		</ul>
		<li><strong>00 임경영</strong> crash27 at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2003		개발팀</li>
			<li>2000 ~ 2003		개발팀장</li>
		</ul>
		<li><strong>00 최성준</strong> schoi at bacchus.snucse.org</li>
		<ul>
			<li>2000 ~ 2003.08	개발팀</li>
		</ul>
		<li><strong>01 김대일</strong> kdi4ever at bacchus.snucse.org</li>
		<ul>
			<li>2001 ~ 2004.02	NT팀</li>
		</ul>
		<li><strong>01 김도겸</strong> dokyum at bacchus.snucse.org</li>
		<ul>
			<li>2001 ~ 2005.02	개발팀</li>
			<li>2003 		개발팀장</li>
		</ul>
		<li><strong>01 김정민</strong> htutwing at bacchus.snucse.org</li>
		<ul>
			<li>2002 ~ 2004		Unix팀</li>
		</ul>
		<li><strong>01 김홍준</strong> prolinko at bacchus.snucse.org</li>
		<ul>
			<li>2002 ~ 2004		Unix팀</li>
		</ul>
		<li><strong>01 이하윤</strong> yooniya at bacchus.snucse.org</li>
		<ul>
			<li>2001 ~ 2003		NT팀</li>
			<li>2003		NT팀장</li>
		</ul>
		<li><strong>01 임태형</strong> ehooi at bacchus.snucse.org</li>
		<ul>
			<li>2001 ~ 2003		개발팀</li>
		</ul>
		<li><strong>02 유광열</strong> poshi at bacchus.snucse.org</li>
		<ul>
			<li>2003.03 ~ 2005.08	NT팀</li>
			<li>2005		NT팀장</li>
			<li>2005.09 ~ 2006.08	대표</li>
		</ul>
		<li><strong>02 이정길</strong> sooshia at bacchus.snucse.org</li>
		<ul>
			<li>2003 ~ 2005		Unix팀</li>
			<li>2005		Unix팀장</li>
		</ul>
		<li><strong>02 허두회</strong> digitz at bacchus.snucse.org</li>
		<ul>
			<li>2003 ~ 2004		개발팀</li>
		</ul>
		<li><strong>02 황지현</strong> whitevol at bacchus.snucse.org</li>
		<ul>
			<li>2003 ~ 2005 	개발팀</li>
			<li>2005		개발팀장</li>
		</ul>
		<li><strong>02 박천호</strong> fanofspica at bacchus.snucse.org</li>
		<ul>
			<li>2003.03 ~ 2004.02	윈도우팀</li>
			<li>2004.03 ~ 2006.02	대외파견</li>
			<li>2006.03		윈도우팀장</li>
			<li>2006.09 ~ 2007.08	대표</li>
			<li>2007.09		윈도우팀</li>
		</ul>
		<li><strong>02 김용진</strong> whiteblue at bacchus.snucse.org</li>
		<ul>
			<li>2003.03 ~ 2004.08	Unix팀</li>
			<li>2004.09 ~ 2005.08	대표</li>
			<li>2005.09 ~ 2007.08	대외파견</li>
			<li>2007.09		리눅스팀</li>
		</ul>
		<li><strong>03 조상현</strong> mgctower at bacchus.snucse.org</li>
		<ul>
			<li>2004.03 ~ 2006.02	개발팀</li>
			<li>2006.03		개발팀장</li>
		</ul>
		<li><strong>03 백주현</strong>risingcrow at bacchus.snucse.org</li>
		<ul>
			<li>2004.03 ~ 2006.02	윈도우팀</li>
			<li>2006.03 ~ 2006.08	대외파견</li>
			<li>2006.09 ~ 		윈도우팀장</li>
			<li>2007.03		윈도우팀</li>
		</ul>
		<li><strong>03 황원근</strong> stania at bacchus.snucse.org</li>
		<ul>
			<li>2004.03 ~ 2006.02	리눅스팀</li>
			<li>2006.03 ~ 2009.02	대외파견</li>
			<li>2009.03 ~ 2009.08	대표</li>
			<li>2009.09 ~		대외파견</li>
		</ul>
		<li><strong>04 현경렬</strong> summit at bacchus.snucse.org</li>
		<ul>
			<li>2005.03 ~ 2006.02	리눅스팀</li>
			<li>2006.03 ~ 2007.08	리눅스팀장</li>
			<li>2007.09		대표</li>
		</ul>
		<li><strong>04 김진현</strong> yuki at bacchus.snucse.org</li>
		<ul>
			<li>2005.03 ~ 2007.02	윈도우팀</li>
			<li>2007.03		윈도우팀장</li>
			<li>2007.09		윈도우팀</li>
		</ul>
		<li><strong>04 황태현</strong> hangulable at bacchus.snucse.org</li>
		<ul>
			<li>2007.03		대외파견</li>
			<li>2007.09 ~ 2008.08	윈도우팀</li>
		</ul>
		<li><strong>04 하성주</strong> shurain at bacchus.snucse.org</li>
		<ul>
			<li>2006.03		대외파견</li>
			<li>2007.03		리눅스팀</li>
			<li>2007.09		리눅스팀장</li>
			<li>2008.03 ~ 2009.02	대외파견</li>
			<li>2009.03 ~		리눅스팀</li>
		</ul>
		<li><strong>04 박영한</strong> diffcultid at bacchus.snucse.org</li>
		<ul>
			<li>2005.03 ~ 2007.08	리눅스팀</li>
			<li>2007.09 ~		대외파견</li>
		</ul>
		<li><strong>04 김예성</strong> shepherd at bacchus.snucse.org</li>
		<ul>
			<li>2005.03 ~ 2006.08	개발팀</li>
			<li>2006.09		개발팀장</li>
			<li>2007.03 ~ 2010.02	대외파견</li>
			<li>2010.03 ~ 2011.02	웹팀장</li>
		</ul>
		<li><strong>05 이경호</strong> whcjs13 at bacchus.snucse.org</li>
		<ul>
			<li>2007.03 ~ 2007.08	개발팀</li>
			<li>2007.09 ~ 2008.02	개발팀장</li>
			<li>2008.03 ~ 		대외파견</li>
		</ul>
		<li><strong>05 정성훈</strong> meritocrat at bacchus.snucse.org</li>
		<ul>
			<li>2007.03 ~ 2007.08	윈도우팀</li>
			<li>2007.09 ~ 2008.02	윈도우팀장</li>
			<li>2008.03 ~ 2009.02	대표</li>
			<li>2009.03 ~		대외파견</li>
		</ul>
		<li><strong>06 신상협</strong> kitty at bacchus.snucse.org</li>
		<ul>
			<li>2007.03 ~ 2008.02	리눅스팀</li>
			<li>2008.03 ~ 2009.02	리눅스팀장</li>
			<li>2009.03 ~ 		대외파견</li>
		</ul>
		<li><strong>06 김은솔</strong> aeroceo at bacchus.snucse.org</li>
		<ul>
			<li>2008.03 ~ 		리눅스팀</li>
		</ul>
		<li><strong>06 김희도</strong> heedocom at bacchus.snucse.org</li>
		<ul>
			<li>2007.03 ~ 2008.02	윈도우팀</li>
			<li>2008.03 ~ 2008.08	윈도우팀장</li>
			<li>2008.09 ~ 2012.02	대외파견</li>
			<li>2012.03 ~ 2013.02	윈도우팀</li>
		</ul>
		<li><strong>06 박노열</strong> umkek at bacchus.snucse.org</li>
                <ul>
                        <li>2007.03 ~ 2008.02	개발팀</li>
                        <li>2008.03 ~ 2009.02	개발팀장</li>
                        <li>2009.03 ~ 2010.02	웹팀장</li>
                </ul>
		<li><strong>07 고봉경</strong> ninkin at bacchus.snucse.org</li>
                <ul>
                        <li>2008.03 ~ 2009.02	리눅스팀</li>
                        <li>2009.03 ~ 2010.08	리눅스팀장</li>
                        <li>2009.09 ~ 2010.02	대표</li>
                        <li>2010.03 ~ 2010.08	대외파견</li>
                </ul>
		<li><strong>07 오나영</strong> lorien4 at bacchus.snucse.org</li>
                <ul>
                        <li>2008.03 ~ 2009.02	개발팀</li>
                        <li>2009.03 ~ 2009.08	웹팀</li>
                </ul>
		<li><strong>07 천효선</strong> conenebu at bacchus.snucse.org</li>
                <ul>
                        <li>2008.03 ~ 2009.02 	윈도우팀</li>
                        <li>2009.03 ~ 2010.08	윈도우팀장</li>
                </ul>
		<li><strong>07 정민호</strong> ybjangel at bacchus.snucse.org</li>
                <ul>
                        <li>2008.03 ~ 2009.02	개발팀</li>
                        <li>2009.03 ~ 2009.08	웹팀</li>
                        <li>2009.09 ~ 2012.02	대외파견</li>
                        <li>2012.03 ~ 2013.02	웹팀</li>
                </ul>
		<li><strong>07 이치민</strong> lcm0810 at bacchus.snucse.org</li>
		<li><strong>08 이찬호</strong> ztttz at bacchus.snucse.org</li>
		<ul>
			<li>2010.03 ~		웹팀</li>
			<li>2010.03 ~		대외파견</li>
		</ul>
		<li><strong>08 배성열</strong> bsr117 at bacchus.snucse.org</li>
		<ul>
                        <li>2010.03 ~ 2010.08	웹팀장</li>
		</ul>
		<li><strong>09 정지은</strong> walker at bacchus.snucse.org</li>
		<ul>
			<li>2011.03 ~ 2013.02	리눅스팀</li>
			<li>2011.03 ~ 2012.02	리눅스팀장</li>
		</ul>
		<li><strong>09 김미리내</strong> joke at bacchus.snucse.org</li>
		<li><strong>09 최영진</strong> ace at bacchus.snucse.org</li>
		<ul>
			<li>2011.03 ~		웹팀</li>
			<li>2011.03 ~		대외파견</li>
		</ul>
		<li><strong>09 조재민</strong> min at bacchus.snucse.org</li>
		<ul>
			<li>2011.03 ~ 2012.02	웹팀장</li>
		</ul>
		<li><strong>09 김정명</strong> link at bacchus.snucse.org</li>
		<li><strong>10 이주은</strong> gallen at bacchus.snucse.org</li>
		<li><strong>10 윤형석</strong> corea at bacchus.snucse.org</li>
		<ul>
			<li>2012.03 ~ 2013.02	웹팀장</li>
			<li>2013.03 ~		대외파견</li>
		</ul>
		<li><strong>10 이현준</strong> phobia at bacchus.snucse.org</li>
		<ul>
			<li>2012.03 ~ 2013.02	리눅스팀장</li>
		</ul>
		<li><strong>10 함동식</strong> msgundam00 at bacchus.snucse.org</li>
		<ul>
			<li>2012.03 ~		윈도우팀</li>
			<li>2012.03 ~ 2013.02	대표</li>
			<li>2013.03 ~		대외파견</li>
        </ul>
        <li><strong>08 최종욱</strong> wook at bacchus.snucse.org</li>
		<ul>
			<li>2010.03 ~ 2011.02	리눅스팀장</li>
			<li>2010.03 ~ 2011.02	대표</li>
			<li>2011.03 ~ 2014.08	대외파견</li>
			<li>2014.09 ~ 2015.03 	리눅스팀</li>
		</ul>	
		<li><strong>08 유재성</strong> jsryu21 at bacchus.snucse.org</li>
		<ul>
			<li>2010.03 ~ 2014.02	리눅스팀</li>
			<li>2010.03 ~ 2014.02 	대외파견</li>
			<li>2014.03 ~ 2015.03	리눅스팀</li>
        </ul>
        <li><strong>11 이계원 </strong> stray at bacchus.snucse.org</li>
		<ul>
			<li>2014.03 ~ 2014.08	윈도우팀장</li>
			<li>2014.09 ~ 2015.03	윈도우팀장(공동)</li>
		</ul>
        <li><strong>11 최준혁</strong> gwolves at bacchus.snucse.org</li>
		<ul>
			<li>2013.03 ~ 		리눅스팀</li>
			<li>2014.09 ~ 2015.03	웹팀</li>
		</ul>
	</ul>

	<div class="separator_top">
		<a href="#">Top</a>
	</div>

	<p>Last Update: 15. 05. 17.</p>
</div>

{% endblock %}
