{% extends "base.html" %}

{% block body_class %}body_services body_services_account{% endblock %}

{% block main %}
<div id="ServiceAccount">

	<h2>Introduction to account</h2> 

	<h3>통합계정이란?</h3>
	<ul>
		<li>통합계정을 이용하면 DB계정을 제외한 컴퓨터공학부에서 제공하는 모든 서비스를 하나의 ID로 사용하실 수 있습니다.</li>
		<li>학부홈페이지, 실습실 및 과방 컴퓨터 계정, 커뮤니티, 각종 유닉스 서버 및 메일서버에 따라서 각각의 계정이 따로 있다면 사용자에게도 모두를 기억해야한다는 불편함이 있을뿐만 아니라 서비스를 제공하는 입장에서는 유저관리의 부담이 커집니다. 이것을 해결하기 위해 Windows2000의 Active Directory를 기반으로하는 통합인증시스템을 설계하고 통합계정을 제공하고 있습니다. (차후에 Active Directory 이외의 다른 구성으로 바뀔 수 있습니다.)</li>
	</ul>

	<h3>신청 방법</h3>
	<ul>
		<li><a href="http://account.snucse.org">http://account.snucse.org</a> 에서 신청하실 수 있습니다. </li>
		<li>온라인으로 신청 하시면 며칠 이내에 학적과 대조하여 본인 확인후 메일로 처리 결과를 보내드립니다.</li>
	</ul>

	<h3>주의할 점</h3>

	<p>통합계정의 ID와 비밀번호가 타인에게 누출될경우 계정소유자의 개인정보가 유출될수 있고 때에 따라서는 각종 서비스의 제공에 문제가 생길수 있습니다. 이점을 유념하시고 서비스 사용후 반드시 로그아웃을 하여주십시오. 사용자의 실수에 의한 계정분실 또는 유출로 일어나는 각종 문제에 대해서는 책임을 지지 않습니다.</p>

	<h3>비밀번호 변경</h3>

	<ul>
		<li>통합 계정의 비밀번호 변경은 반드시 <a href="httlis://www.snucse.org">커뮤니티</a>를 통해서만 해주시기 바랍니다. 커뮤니티에 로그인 하신 후, 좌측 상단의 '암호변경' 메뉴를 이용해서 통합계정을 비밀번호를 변경할 수 있습니다. </li>
		<li> UNIX 서버에서는 통합 계정에 대한 passwd 명령 사용이 불가능하며, 실습실 혹은 과방에서 간혹 그룹 정책이 적용되지 않아 변경이 가능한 경우가 있는데, 변경하시면 비밀번호 동기화가 되지 않을 수 있으니 이점 양지하여 주시기 바랍니다.</li>
	</ul>

	<h3>제공 용량</h3>

	<ul>
		<li>윈도우즈용 프로필 : 150M (초과시 로그인 제한)</li>
		<li>리눅스 계정 : 1G (리눅스 계정은 윈도우즈 로그인 시 Z:\로 연결됨, mimosa 서버는 이 용량에 포함되지 않음)</li>
		<li>홈페이지 계정 : 200M (mimosa 서버만 해당, 신청을 통해 늘릴 수 있음)</li>
		<li>MySQL DB : 현재 무제한 (지나칠 경우 경고)</li>
	</ul>

</div>

{% endblock %}
