{% extends "base.html" %}

{% block body_class %}body_services body_services_lab{% endblock %}

{% block main %}
<div id="ServiceLab">

	<h2>Computer Labs</h2> 

	<h3>Computer Labs?</h3>
	<p>Windows 7 Enterprise 시스템의 PC들(총 60대)을 이용할 수 있는 공간입니다.</p>

	<h3>실습실 개방 시간</h3>
	<p>302동 311호에 실습실이 있으며, 24시간 개방하고 있습니다. 컴퓨터공학부 행정실에서 학생증을 등록하면 실습실의 문을 열 수 있습니다.<p>

	<h3>로그인</h3>
	<ul>
		<li>실습실은 <a href="/services/account/">통합계정</a>이 있어야 사용할 수 있습니다. </li>
		<li>부팅된 초기화면에서 Ctrl + Alt + Delete 를 누른 다음, Switch User 버튼을 누르고 로그인 정보를 입력하여 로그인 할 수 있습니다.</li>
		<li><strong>PC 사용을 마친 후에는 반드시 로그아웃을 하셔야 됩니다. 로그아웃을 하지 않음으로써 생기는 피해는 본인에게 있습니다. 로그아웃을 습관화합시다!</strong></li>
	</ul>

	<h3>프로그램 이용</h3>
	<ul>
		<li>사용자 임의로 프로그램을 설치 및 삭제 할 수 없습니다.</li>
		<li>프로그램 설치 기준</li>
		<ul>
			<li>라이센스 존재 여부</li>
			<li>학부 수업과의 관련성</li>
			<li>다수의 사용자 요구</li>
			<li>기타</li>
		</ul>
		<li>사용자가 <a href="/application/program/">프로그램 설치 신청</a>을 하면, 위의 기준에 따라 그 다음 학기부터 적용합니다.</li>
	</ul>

	<h3>홈 드라이브(Z:) 사용</h3>
	<ul>
		<!--li>사용자당 1GB씩의 용량을 제공합니다.</li-->
		<li>실습실 PC를 이용할 경우 기본적으로 Z: 드라이브로 연결되어 있습니다.</li>
		<li>리눅스 계정의 홈과 연동됩니다.</li>
	</ul>

	<h3>프로필 사용</h3>
	<ul>
		<li>프로필?</li>
		<ul>
			<li>'내 문서','바탕 화면','Outlook express에서 받은 메일','즐겨찾기' 등의 폴더에 포함된 파일들</li>
			<li>개인 사용자마다 서로 다른, 개인적인 정보로 홈드라이브(Z:) 와는 별도로 저장되고 별도로 관리됩니다.</li>
			<li>사용자당 100MB씩의 용량을 제공합니다.</li>
		</ul>
		<li>프로필 통신 구조</li>
		<ul>
			<li>로그인 시 : 서버에서 클라이언트(PC)로 프로필을 읽어와서 저장합니다.</li>
			<li>로그아웃 시 : 다시 현재의 프로필을 서버에 기록합니다.</li>
			<li>따라서 프로필은 실습실의 어떤 PC를 쓰더라도 항상 보존됩니다.</li>
		</ul>
		<li><strong>프로필 공간에 대해서 바쿠스는 안전성을 보장할 수 없습니다. 중요한 자료일 경우 반드시! 홈드라이브에 저장하십시오.</strong></li>
	</ul>

	<h3>프린터 사용</h3>

	<p><a href="/services/printer/">프린터 사용 방법</a> 페이지를 참고하면 됩니다.</p>

	<h3>기타</h3>
	<ul>
		<li>문의사항 및 요구사항은 <a href="/faq/">FAQ</a> 에서 관련 자료를 찾아보시거나 통합계정으로 로그인 한 뒤 <a href="/qna/lab/">실습실 Q&A</a> 를 통해 글을 남겨주십시오.</li>
		<li>컴퓨터실은 컴퓨터공학부 학생 모두의 공간입니다.  자기가 남긴 쓰레기는 자기가 치우도록 합시다. </li>
	</ul>

</div>

{% endblock %}
